In [1]:
# imports pandas
import pandas as pd

In [2]:
# imports csv 
fire = pd.read_csv("firearm-seizures-data.csv")

In [4]:
# quick look at the data
#fire.head(5)

In [4]:
# drops all the columns that we do not need
firearm = fire.drop(columns=['tract','police_zone','fire_zone','latitude','longitude','ward',
                             'council_district','address','public_works_division'])
#firearm.head(5)

In [5]:
# drops any data that does not have a neighborhood attatched to it
firearm.dropna(subset = ["neighborhood"], inplace=True)
firearm.head(5)

,total_count,other_count,pistol_count,revolver_count,rifle_count,shotgun_count,year,month,dow,neighborhood
1,1,0,1,0,0,0,2017,4,6,Bluff
2,1,0,1,0,0,0,2015,8,1,Bluff
3,1,0,0,1,0,0,2015,11,5,Homewood West
4,1,0,1,0,0,0,2016,9,0,Manchester
5,1,0,1,0,0,0,2016,9,6,Brookline

In [8]:
# converts total_count to integers
firearm['total_count'] = pd.to_numeric(firearm['total_count'])

In [36]:
# sums up the total_count by neighborhood
firearm_sum = firearm.groupby('neighborhood')['total_count'].sum()

In [23]:
# converts the groupby to a dataframe
fire_final = pd.DataFrame(firearm_sum)

In [37]:
# sets it so it will display all the rows
pd.set_option('display.max_rows', None)

In [33]:
# sorts it in ascending order
fire_final = fire_final.sort_values(['total_count', 'neighborhood'], ascending=[1, 0])

In [38]:
print(fire_final)

NameError: name 'fire_final' is not defined