In [1]:
# imports pandas
import pandas as pd

In [2]:
# imports csv 
fire = pd.read_csv("firearm-seizures-data.csv")

In [33]:
# quick look at the data
#fire.head(5)

,address,total_count,other_count,pistol_count,revolver_count,rifle_count,shotgun_count,year,month,dow,neighborhood,council_district,ward,tract,public_works_division,police_zone,fire_zone,latitude,longitude
0,"1000 BLOCK 2ND AVE PITTSBURGH, PA 15219",1,0,1,0,0,0,2017,3,1,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN
1,"1000 BLOCK 5TH AVE PITTSBURGH, PA 15219",1,0,1,0,0,0,2017,4,6,Bluff,6.0,1.0,4.200301e+10,3.0,2,4-Feb,40.438573,-79.990840
2,"1000 BLOCK 5TH AVE PITTSBURGH, PA 15219",1,0,1,0,0,0,2015,8,1,Bluff,6.0,1.0,4.200301e+10,3.0,2,4-Feb,40.438573,-79.990840
3,"1000 BLOCK BEECHER ST PITTSBURGH, PA 15208",1,0,0,1,0,0,2015,11,5,Homewood West,9.0,12.0,4.200312e+10,2.0,5,17-Mar,40.459825,-79.902389
4,"1000 BLOCK BIDWELL ST PITTSBURGH, PA 15233",1,0,1,0,0,0,2016,9,0,Manchester,6.0,21.0,4.200321e+10,1.0,1,8-Jan,40.452335,-80.020418

In [34]:
# drops all the columns that we do not need
firearm = fire.drop(columns=['tract','police_zone','fire_zone','latitude','longitude','ward',
                             'council_district','address','public_works_division'])
#firearm.head(5)

In [35]:
# drops any data that does not have a neighborhood attatched to it
firearm.dropna(subset = ["neighborhood"], inplace=True)
firearm.head(5)

,total_count,other_count,pistol_count,revolver_count,rifle_count,shotgun_count,year,month,dow,neighborhood
1,1,0,1,0,0,0,2017,4,6,Bluff
2,1,0,1,0,0,0,2015,8,1,Bluff
3,1,0,0,1,0,0,2015,11,5,Homewood West
4,1,0,1,0,0,0,2016,9,0,Manchester
5,1,0,1,0,0,0,2016,9,6,Brookline

In [36]:
# returns all the unique neighborhoods 
firearm.neighborhood.unique()

array(['Bluff', 'Homewood West', 'Manchester', 'Brookline',
       'Homewood North', 'California-Kirkbride', 'Elliott', 'Sheraden',
       'Brighton Heights', 'Spring Hill-City View',
       'Central Business District', 'Marshall-Shadeland',
       'Mount Washington', 'Carrick', 'Troy Hill',
       'Lincoln-Lemington-Belmar', 'Crafton Heights', 'South Side Flats',
       'Central Lawrenceville', 'Allegheny West', 'Hazelwood',
       'Central Northside', 'Larimer', 'Highland Park', 'Knoxville',
       'Beltzhoover', 'Squirrel Hill South', 'Beechview', 'East Hills',
       'South Oakland', 'Middle Hill', 'Perry South', 'Fineview',
       'Oakwood', 'Northview Heights', 'Bedford Dwellings',
       'North Oakland', 'Allentown', 'East Liberty', 'Summer Hill',
       'South Side Slopes', 'Arlington', 'Terrace Village',
       'Central Oakland', 'Perry North', 'North Shore',
       'Crawford-Roberts', 'West Oakland', 'Westwood', 'Friendship',
       'Greenfield', 'Hays', 'Chateau', 'Morningside', 'Strip District',
       'Squirrel Hill North', 'Spring Garden', 'Banksville',
       'Chartiers City', 'Lincoln Place', 'Stanton Heights', 'Windgap',
       'Mount Oliver Borough', 'Overbrook', 'West End',
       'Lower Lawrenceville', 'South Shore', 'Duquesne Heights',
       'Point Breeze', 'Garfield', 'Bloomfield', 'Esplen', 'Shadyside',
       'Polish Hill', 'Arlington Heights', 'East Allegheny',
       'Point Breeze North', 'Upper Hill', 'Fairywood',
       'Allegheny Center', 'Mt. Oliver', 'Homewood South',
       'Upper Lawrenceville', 'Regent Square', 'Glen Hazel', 'St. Clair',
       'Bon Air'], dtype=object)